@import url('https://fonts.googleapis.com/css2?family=Damion&family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,600;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar nav ul li {
    list-style: none;
    display: inline-block;
    padding: 50px;
    font-size: 18px;
}
nav ul {
    margin-left: 45%;
}
nav a {
    text-decoration: none;
    color: #ccd6f6;
    font-family: 'poppins', sans-serif;
}

#mobile {
    display: none;
}

header .nav_btn {
    
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #eee;
    visibility: hidden;
    opacity: 0;
}

.nav_close {
    animation: none;
    position: absolute;
    margin-left: 50%;
    color: #ccd6f6;
    font-size: 22px;
}
.nav_bars {
    animation: none;
    position: absolute;
    margin-left: 70%;
    margin-top: 10%;
    color: #ccd6f6;
    font-size: 35px;
    visibility: hidden;
    opacity: 0;
}
.about-section {
    overflow-x: hidden;
    margin-top: 8rem;
}
.container span {
    color: red;
    font-size: 30px;
    animation: none;
    margin-left: 50%;
}
.about_section h1 {
    font-size: 70px;
    color: #ccd6f6;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    margin-left: 13%;
    margin-top: 8%;
}
.about2 h2 {
    margin-left: 15%;
    margin-top: 3.7%;
    font-size: 28px;
    color: #ccd6f6;
}

.about2 p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    line-height: 25px;
    color: #ccd6f6;
    font-weight: 400;
    margin-left: 15%;
  }

.about2 a{
    padding-left: 62%;
    font-size: 19px;
    color: #ccd6f6;
}
.circle {
    position: absolute;
    margin-left: 8%;
    margin-top: 20%;
}
.git2 {
    animation: none;
    margin-left: 23%;
    margin-top: 5.8%;
    font-size: 22px;
    position: absolute;
}
.circle2 {
    position: absolute;
    margin-left: 8%;
    margin-top: 35.5%;
}
.circle3 {
    position: absolute;
    margin-left: 8%;
    margin-top: 49.4%;
}

.about2-hr {
    width: 0;
    height: 181px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 13%;
    margin-top: -11%;
}
.about3-hr {
    width: 0;
    height: 159px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 13%;
    margin-top: -9.2%;
}
.git3 {
    animation: none;
    margin-left: 19%;
    margin-top: 28.3%;
    font-size: 22px;
}
.product9 {
    margin-left: 5%;
}
.product {
    margin-left: 10%;
}
.product2 {
    margin-left: 12%;
}

.reads h3 {
    margin-top: 10%;
    font-size: 23px;
    color: #ccd6f6;
    margin-left: 12.5%;
}
.read-text h2 {
    color: #ccd6f6;
    margin-left: 16%;
    margin-top: 4%;
}
.read-text a {
    color: #ccd6f6;
    text-decoration: none;
}
.read-text a:hover {
    text-decoration: underline;
}
.read-text span {
    font-size: 15px;
}
.read-text .product {
    font-size: 18px;
    margin-left: 44%;
    color: #ccd6f6;
}
.read-text .product2 {
    font-size: 18px;
    margin-left: 48%;
    color: #ccd6f6;
}
.read-text .product3 {
    font-size: 18px;
    margin-left: 60%;
    color: #ccd6f6;
}
.read-text .product4 {
    font-size: 18px;
    margin-left: 41%;
    color: #ccd6f6;
}
.read-text .product5 {
    font-size: 18px;
    margin-left: 56%;
    color: #ccd6f6;
}
.circle4 {
    position: absolute;
    margin-left: 9%;
    margin-top: 75.5%;
}
.circle5 {
    position: absolute;
    margin-left: 9%;
    margin-top: 89%;
}
.circle6 {
    position: absolute;
    margin-left: 9%;
    margin-top: 100.5%;
}
.circle7 {
    position: absolute;
    margin-left: 9%;
    margin-top: 114%;
}
.circle8 {
    position: absolute;
    margin-left: 9%;
    margin-top: 123.7%;
}

.calender {
    animation: none;
    position: absolute;
    margin-left: 76.2%;
    margin-top: 76%;
    font-size: 14px;
}
.calender2 {
    animation: none;
    position: absolute;
    margin-left: 79.7%;
    margin-top: 89.5%;
    font-size: 14px;
    color: #ccd6f6;
}
.calender3 {
    animation: none;
    position: absolute;
    margin-left: 80%;
    margin-top: 101%;
    font-size: 14px;
    color: #ccd6f6;
}
.calender4 {
    animation: none;
    position: absolute;
    margin-left: 79.5%;
    margin-top: 114.4%;
    font-size: 14px;
    color: #ccd6f6;
}
.calender5 {
    animation: none;
    position: absolute;
    margin-left: 79.3%;
    margin-top: 124.1%;
    font-size: 14px;
    color: #ccd6f6;
}
.read-text p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    line-height: 25px;
    color: #ccd6f6;
    font-weight: 400;
    margin-left: 16%;
}

.about4-hr {
    width: 0;
    height: 159px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 14%;
    margin-top: -9%;
}
.about5-hr {
    width: 0;
    height: 132px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 14%;
    margin-top: -7%;
}
.about6-hr {
    width: 0;
    height: 158px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 14%;
    margin-top: -8.9%;
}
.about7-hr {
    width: 0;
    height: 105px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 14%;
    margin-top: -4.9%;
}
.about8-hr {
    width: 0;
    height: 70px;
    border: 1px solid #ccd6f61f;
    position: absolute;
    margin-left: 14%;
    margin-top: -4.8%;
}
.continue {
    margin-bottom: 10%;
}
.continue h4 {
   margin-left: 13.9%;
   margin-top: 7%;
   color: #ccd6f6;
}
.continue a {
    text-decoration: none;
}
.icon {
    animation: none;
    margin-top: 30%;
}
.arrow {
    position: absolute;
    animation: none;
    margin-left: 25.5%;
    margin-top: 136%;
    font-size: 25px;
    animation: slide 1s linear infinite;
}
@keyframes slide {
    0% {
        transform: translateX(20px);
    }
}
.icons {
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    font-size: 6px;
}
.facebook {
    position: absolute;
    margin-top: 90%;
    margin-left: 30%;
}
.githubs {
    position: absolute;
    margin-left: 5%;
}
.linkedin {
  margin-left: -10%;
}
.dribbble {
    position: absolute;
    margin-left: 60%;
    margin-top: -10%;
}
.instagram {
    margin-left: 4%;
}
.icons p{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

